@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-primary;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    height: 100%;
    width: 100%;
    color: $color-black;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.2em;
}

.loading-gif {
    height: 300px;
    background-image: url("../assets/loading.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.full-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba($color: #000000, $alpha: 0.3);
    top:0;
    animation: animtedOpacity 1s 0s linear;

    &.hide {
        display: none;
    }
}