.result-message{
    
    &__sentiment {
        @extend %grid-1column;
        margin-bottom: 1.2em;

        @media (min-width:768px){
            grid-template-columns: 1fr 1fr;
        }
    }

    .rm {
        &-label {
            font-size: 1.2em;
            line-height: 1.5;
            font-weight: 400;
        }

        &-image {
            text-align: center;
        }

        &-value {
            padding-left: 10px;
            font-weight: 700;
            color: $color-primary;
        }

        &-title{ 
            margin: 1.2em 0;
            font-size: 1.4em;
        }

        &-cta {
            text-align: center;
            margin: 1.2em 0;

            a{
                @extend %flex-center-center;
                height: 40px;
                padding: 5px 10px;
                color: $color-primary;
                font-weight: 700;
                border: 1px solid $color-primary;
                border-radius: 20px;

                &:hover {
                    background-color: $color-secondary;
                    color:  $color-white;
                }
            }
        }
    }
}